<section class="painel">
    <form [formGroup]="form" (ngSubmit)="atualizar()">
        <section>
            <h2>Ações na carteira</h2>
            <mat-progress-bar *ngIf="procurando" mode="indeterminate"></mat-progress-bar>
            <div class="row  ">
                @for (acao of listaAcoes; track acao) {
                <a class="acao col det-20 " [ngClass]="{'acao-selecionada': acao == this.form.get('acao')?.value }"
                    (click)="selecionarAcao(acao)">{{acao}}</a>
                }
                <a class="acao col det-20 " [ngClass]="{'acao-selecionada': 'todas' == this.form.get('acao')?.value }"
                    (click)="selecionarAcao('todas')">Todas</a>
            </div>
        </section>
        <div class="row ">
            <div class="col det-25 ">
                <mat-form-field>
                    <mat-label>Data Específica</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col det-25 "></div>
            <div class="col det-25 "></div>
            <div class="col det-25 ">
                <button type="submit" class="btn-atualizar"> atualizar </button>
            </div>
        </div>

    </form>
    <section>
        <h2 *ngIf="this.form">Negociações em {{this.form.get('date')?.value | date:'dd/MM/yyyy' }} </h2>
        <div class="row titulo">
            <div class="col det-17 ">ACAO</div>
            <div class="col det-17 ">data </div>
            <div class="col det-17 ">Preço</div>
            <div class="col det-17 ">Operacao</div>
            <div class="col det-5"> QTD </div>
            <div class="col det-5"> Total </div>
        </div>

        <div *ngIf="acoes.length > 0; else semAcoes">
            @for (acao of acoes; track acao) {
            <div class="row elemento">
                <div class="col det-17 ">{{acao.instrument}}</div>
                <div class="col det-17 ">{{acao.data | date:'dd/MM/yyyy' }}</div>
                <div class="col det-17 valores ">{{acao.preco | currency:'BRL' }}</div>
                <div class="col det-17 ">{{acao.tipoOperacao}}</div>
                <div class="col det-5"> {{ acao.quantidade }} </div>
                <div class="col det-17 valores"> {{ acao.valorTotal | currency:'BRL' }} </div>
            </div>
            }
        </div>
        <app-pagination [pager]="pager" (paginationEmmiter)="setPage($event)">
        </app-pagination>
        <app-rendimentos-totais [totais]="totais"> </app-rendimentos-totais>
        <ng-template #semAcoes>
            <div class="row elemento">
                Não Há Registros
            </div>
        </ng-template>
    </section>
</section>