<section class="painel">
    <form [formGroup]="form" (ngSubmit)="atualizar()">
        <section>
            <h2>Ações na carteira</h2>
            <mat-progress-bar *ngIf="procurando" mode="indeterminate"></mat-progress-bar>
            <div class="row  ">
                @for (acao of listaAcoes; track acao) {
                <a class="acao col det-20 " [ngClass]="{'acao-selecionada': acao == this.form.get('acao')?.value }"
                    (click)="selecionarAcao(acao)">{{acao}}</a>
                }
                <a class="acao col det-20 " [ngClass]="{'acao-selecionada': 'todas' == this.form.get('acao')?.value }"
                    (click)="selecionarAcao('todas')">Todas</a>
            </div>
        </section>
        <div class="row ">
            <div class="col det-20 checkbox-place ">
                <mat-checkbox (change)="habilitardataFinal()" class="example-margin">Data Inicial</mat-checkbox>
            </div>
            <div class="col det-30" *ngIf="showdataInicial">
                <mat-form-field>
                    <mat-label>Data Inicial</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dataInicial">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col det-30 ">
                <mat-form-field>
                    <mat-label>Data</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataFinal">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col det-20 ">
                <button type="submit" class="btn-atualizar"> atualizar </button>
            </div>
        </div>
    </form>

    <app-red-detalhamento #appRendDetalhamento  [form]="this.form" [showdataInicial]="showdataInicial"  > </app-red-detalhamento>
    
</section>