<h2>Totais Ações </h2>
<div class="row titulo">
    <div class="col det-10 "> quantidade </div>
    <div class="col det-10 "> ação </div>
    <div class="col det-10 "> Preço compra </div>
    <div class="col det-10 "> Preço Mercado </div>
    <div class="col det-10 "> valor Compra </div>
    <div class="col det-10 "> valor Compra </div>
    <div class="col det-10 "> venda Mercado </div>
    <div class="col det-10 "> rendimento </div>
    <div class="col det-10 "> rendimento % </div>
</div>
@for (acao of totais; track acao) {
<div class="row elemento">
    <div class="col det-10"> {{acao.quantidadeAtual }} </div>
    <div class="col det-10"> {{acao.instrument }} </div>
    <div class="col det-10"> {{acao.precoMedioCompra | currency:'BRL' }} </div>
    <div class="col det-10"> {{acao.precoMercado | currency:'BRL' }} </div>
    <div class="col det-10"> {{acao.valorCompra | currency:'BRL' }} </div>
    <div class="col det-10"> {{acao.valorTotalCompra | currency:'BRL' }} </div>
    <div class="col det-10"> {{acao.vendaMercado | currency:'BRL' }} </div>
    <div class="col det-10" [ngClass]="{'verde': acao.rendimento >0 , 'vermelho': acao.rendimento < 0 }">
        {{acao.rendimento | currency:'BRL' }} </div>
    <div class="col det-10" [ngClass]="{'verde': acao.rendimentoPercent >0 , 'vermelho': acao.rendimentoPercent < 0 }">
        {{acao.rendimentoPercent | currency:'BRL' }} </div>
</div>
}