<h2>Totais Ações </h2>
<div class="row titulo">
    <div class="col det-17 ">ACAO</div>
    <div class="col det-17 "> </div>
    <div class="col det-17 ">Preço</div>
    <div class="col det-17 ">Operacao</div>
    <div class="col det-5"> QTD </div>
    <div class="col det-17 "> Total </div>
</div>
@for (acao of totais; track acao) {
<div class="row elemento">
    <div class="col det-17 ">{{acao.instrument}}</div>
    <div class="col det-17 "> </div>
    <div class="col det-17 valores "> </div>
    <div class="col det-17 ">{{acao.tipoOperacao}}</div>
    <div class="col det-5"> {{ acao.quantidade }} </div>
    <div *ngIf="acao.tipo  != 'P'"
        [ngClass]="{'verde': acao.valorTotal  >0 && acao.tipo  == 'R' ,  'vermelho': acao.valorTotal  < 0 && acao.tipo  == 'R'  }"
        class="col det-17 valores"> {{ acao.valorTotal | currency:'BRL' }} </div>
    <div *ngIf="acao.tipo === 'P'"
        [ngClass]="{'verde': acao.valorTotal  >0 && acao.tipo  == 'P' ,  'vermelho': acao.valorTotal  < 0  && acao.tipo  == 'P' }"
        class="col det-17 valores"> {{acao.valorPercent}} </div>

</div>
}