
<div *ngIf="showChart">
    <h2> Compra / Venda </h2>
    <div class="chart-wrapper">
        <canvas baseChart [data]="dados1" [options]="barChartOptions1" [type]="barChartType">
        </canvas>
    </div>
    <h2> Preços </h2>
    <div class="chart-wrapper">
        <canvas baseChart [data]="dados2" [options]="barChartOptions2" [type]="barChartType">
        </canvas>
    </div>
    <h2> Rendimentos </h2>
    <div class="chart-wrapper">
        <canvas baseChart [data]="dados3" [options]="barChartOptions3" [type]="barChartType">
        </canvas>
    </div>
</div>